

 

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #484A4C;
  text-align: center
}

 line, path, circle, ellipse {
                pointer-events: none;
                }